{% extends 'base.html.twig' %}
{% block body %}

    <div class="alert alert-info" role="alert">
        Köszönjük szépen a kérdésedet. Válaszunkkal hamarosan keresünk a megadott e-mail címen
    </div>


{% endblock %}